.Hero_block h2{
    font-size: 6.688rem !important;
    color:#00AEFF;
    margin-top:-45px !important;
    font-family: 'Avenir-Black' !important;
}
.Hero_block h3{
    font-size: 3.125rem !important;
    color:#4D4D4D;
    margin-bottom: 0px;
    letter-spacing: 8.42px;
    font-family: 'Avenir-Heavy' !important;
    margin-bottom: 2%;
}
.Hero_block p{
    color: #999999;
    font-size:21px;
    letter-spacing: 2.46px;
    text-align: left;
    font-style: italic;
    font-weight: lighter !important;
    font-family: 'Avenir-Oblique' !important;
}
.Hero_block{
    padding-top:150px;
    padding-bottom:150px;
    background-size: contain,
}
.h-100 {
    height: 100%!important;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#navAction{
    background-color: #22AEFF !important;
    color:#FFF !important;
    font-size: 0.813rem !important;
    padding:0.625rem 0.938rem !important;
    box-shadow: none;
    font-family: 'Avenir-Heavy' !important;

}
.Hero_block #navAction{
    background-color: #22AEFF !important;
    color:#FFF !important;
    font-size: 1.25rem !important;
    padding:0.625rem 0.938rem !important;
    box-shadow: none;

}
.bg-transparent{
    background: transparent !important;
}
.Hero_block{
    margin-top:0px;
    background-position: top right;
}

@media (max-width: 576px) {
    .Hero_block{
        background-size: cover;
        background-position: top center;
    }
    .Hero_block h2 {
        font-size: 3rem !important;
    }
    .Hero_block h3 {
        font-size: 2.5rem !important;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .Hero_block p {
        font-size: 15px !important;
    }
    .Hero_block #navAction{
        font-size: 14px !important;
        width:100%;
    }
  }