.text-color{
    color:#22AEFF;
}
.PeaceOfMindblock h2{
    margin-top:170px;
    text-align: right;
    line-height: 55px;
    font-size: 62px;
    color:#FFF;
}
.PeaceOfMindblock .img{
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
}
.PeaceOfMindblock p{
    color:#FFF;
    font-family: Avenir-Light;
    font-size: 14px;
    letter-spacing: 2.46px;
    text-align: right;
    width:85%;
    padding-right: 0px;
    float:right;
}
.PeaceOfMindblock{
    background-size: 20%;
    background-position: 100% 10%;
}

@media (max-width: 576px) {
    .PeaceOfMindblock{
        background-size: 50%;
        background-position: 100% 1%;
    }
    .PeaceOfMindblock h2{
        margin-top:0px;
        text-align: left !important;
        font-size: 45px;
        line-height: 40px;
    }
    .PeaceOfMindblock p{
        text-align: left;
        width:100%;
        float:left;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}